@keyframes open {
    0% {
      opacity: 0;
      transform: translate(0, 15px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .open-smoothly {
    animation: open .6s;
  }