@import url(../element/__image/element__image.css);
@import url(../element/__title/element__title.css);
@import url(../element/__wrapper/element__wrapper.css);
@import url(../element/__like-button/element__like-button.css);
@import url(../element/__like-button/element__like-button_active.css);

.element {
  border-radius: 10px;
  background-color: #fff;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  overflow: hidden;
}