@import url(../vendor/normalize.css);
@import url(../blocks/project/project.css);
@import url(../blocks/page/page.css);
@import url(../blocks/link/link.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/button/button.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup-image/popup-image.css);

@font-face {
  src: url(../fonts/Inter-Regular.woff) format('woff');
  src: url(../fonts/Inter-Regular.woff2) format('woff2');
  src: url(../fonts/Inter-Regular.ttf) format('truetype');
  font-family: 'Inter';
}

@font-face {
  src: url(../fonts/Inter-Black.woff) format('woff');
  src: url(../fonts/Inter-Black.woff2) format('woff2');
  src: url(../fonts/Inter-Black.ttf) format('truetype');
  font-family: 'Inter';
  font-weight: 900;
}

@font-face {
  src: url(../fonts/inter-medium.woff) format('woff');
  src: url(../fonts/inter-medium.woff2) format('woff2');
  src: url(../fonts/inter-medium.ttf) format('truetype');
  font-family: 'Inter';
  font-weight: 500;
}